<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
    <style>
        * {
            font-family: sans-serif;
        }
        label, input {
            display: block;
            margin: auto;
            margin-bottom: 5px;
        }
        
        #logBox {
            width: 300px;
            margin: 5em auto;
            text-align: center
        }
        
        a {
            margin-top: 50px;
            font-size: 12px
        }
        
    </style>
</head>
<body>
    <div id="logBox">
        <h3>Login Page</h3>
        <form action="#" method="post">
            <label for="email">email:</label>
            <input type="text" name="email" id="email">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
            <input type="submit" value="Login">
            <a href="#">Don't have an account?</a>
        </form>
    </div>
</body>
</html>